{% extends 'base.html' %}

{% block title %}Room List{% endblock %}

{% block content %}
    <h1 class="mt-4">Room List</h1>
    {% if user_role == 'ADMIN' %}
        <p>ADMIN OPTION ONLY</p>
        {% include 'forms/form_add_room.html' %}
    {% endif %}
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th scope="col">Room Number</th>
                <th scope="col">Type</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
        {% for room in rooms %}
            <tr>
                <td>{{ room.room_number }}</td>
                <td>{{ room.type }}</td>
                <td>{{ room.description }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}